html,
body {
  margin: 0;
  overflow: hidden;
  background: #fff;
  background: url('../images/grass.png') repeat;
}

canvas {
  display: block;
  background: none; /* ciemnozielony, trawa */
}

#engine-info {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 4px 0 2px 0;
  color: red;
  font-family: Arial, sans-serif;
  font-size: 22px;
  text-align: center;
  background: transparent;
  z-index: 1000;
  pointer-events: none;
  user-select: none;
}

#camera-info {
  position: fixed;
  right: 12px;
  top: 12px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  padding: 6px 14px;
  border-radius: 8px;
  z-index: 1000;
  pointer-events: none;
} 